@charset "utf-8";
/* Basic CSS for the navigation bar */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


  background-image: url('https://cdn.pixabay.com/photo/2023/07/21/12/11/balloon-8141499_1280.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
 /* background-size: 100% 100%; */
    background-size: cover;
    background-position: center;
    color: #fff;
}

.social-media-logos a {
	margin-right: 10px;
}

.social-media-logos {
	position: absolute;
	bottom: 0px; /* place the logos at the bottom of the page */
	left: 50%; /* center them horizontally */
	transform: translateX(-50%); /* adjust for browser quirks */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
}

.social-media-logos a {
	margin-right: 10px;
}


.hover-button {
	background-color: #4CAF50; /* initial button color */
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	margin-left: 50px; /* offset from the left edge by 50 pixels */
}

.hover-button:hover {
	background-color: #8BC34A; /* hover color */
}




.social-media-column a {
	margin-bottom: 10px;
	display: block;
}

.main-message-container {
	position: relative;
	top: 50%;
	right: 0px;
	width: calc(100% - 100px);
	padding-left: 20px;
	text-align: left;
	font-size: 18px;
}




nav {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
h2 {
	font-size: 30px;
	color: navy;
}
h3 {
	font-size: 24px;
	color: azure;
}

h1 {
	font-size: 78px;
	color: darkred;
}
  nav ul {
    list-style-type: none;
	align-items: center;
    padding: 15px;
	font-size: 18px;
  }
  
  nav ul li {
    display: inline;
	align-items: center;
    margin-right: 15px;
	font-size: 18px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  /* Basic CSS for the form elements */
  body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
  }
.horizontal-center {
	list-style: none;
	display: flex;
	justify-content: center;

	align-items: center;
}
  nav {
    display: flex;
    justify-content: space-between; /* aligns elements to the right */
    padding-right: calc(50% - 50px); /* calculates half of the screen width minus some extra margin (adjust as needed) */
  }

  .logo-container {
    display: inline-block;
    vertical-align: middle;
  }

  .nav-links li {
    list-style: none;
    margin-left: 20px; /* adjust this value for spacing between links */
  }
	

